.body{
    width: 100%;
}

.text {
    font-size: 60px;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
    font-family: "Monospace";
    color: #ffffff;
}

.ryan{
    display: flex;
    flex-direction: row;
    transform: translate(30%);
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 15px;
    width: 80%;
}

.ryan-text{
    justify-content: center;
    text-align: center;
    color: #ffffff;
    width: 55%;
}
.joel{
    display: flex;
    flex-direction: row;
    transform: translate(30%);
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 15px;
    width: 80%;

}

.joel-text{
    justify-content: center;
    text-align: center;
    color: #ffffff;
    width: 55%;
}

.dietrich{
    display: flex;
    flex-direction: row;
    transform: translate(30%);
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff; 
    margin-bottom: 15px;
    width: 80%;
}

.dietrich-text{
    justify-content: center;
    text-align: center;
    color: #ffffff;
    width: 55%;

}

.om{
    display: flex;
    flex-direction: row;
    transform: translate(30%);
    font-size: 20px;
    letter-spacing: 1px;

    color: #ffffff; 
    margin-bottom: 15px;
    width: 80%;
}

.om-text{
    justify-content: center;
    text-align: center;
    color: #ffffff;
    width: 55%;
}

.kevin{
    display: flex;
    flex-direction: row;
    transform: translate(30%);
    font-size: 20px;
    letter-spacing: 1px;

    color: #ffffff; 
    margin-bottom: 15px;
    width: 80%;
}

.kevin-text{
    justify-content: center;
    text-align: center;
    color: #ffffff;
    width: 55%;
}
