html {width: 100%}
body {width: 100%}

body{
    width: 100vw;
    height: 100vh;
    background-color: #23153c;
}

#body-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.title {
    font-size: 60px;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
    font-family: "Monospace";
    color: floralwhite;
    margin-top: 50px;
}

.subtitle {
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    font-family: "Monospace";
    padding: 5px;
    color: floralwhite;
}

.sequence-input {
    width: 60%;
    font-size: 25px;
    outline: none;
    text-align: center;
    font-family: "Monospace";
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    margin-bottom: 28px;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.to-rna {
    background-color: #ffffff;
    padding: 17px 25px;
    color: #17252A;
    border-radius: 25px;
    margin-right: 8px;
}

.to-dna {
    background-color: #ffffff;
    padding: 17px 25px;
    color: #17252A;
    border-radius: 25px;
    margin-right: 8px;
    margin-left: 8px;
}

.to-amino {
    background-color: #ffffff;
    padding: 17px 21px;
    color: #17252A;
    margin-left: 8px;
    border-radius: 25px;
}

#example {
    font-size: 35px;
    width: 100%;
    text-align: center;
    color: white;
}
